<div class="pre-header">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>Razvoj višeslojnih aplikacija</h1>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <p>Aplikacija je realizovana kao projektni zadatak iz predmeta <i>Razvoj višeslojnih aplikacija</i>
            na Fakultetu tehničkih nauka u Novom Sadu. Cilj aplikacije je da omogući evidenciju fakulteta, departmana,
            statusa i studenata u okviru departmana. Za razvoj <i>backend</i> dela aplikacije je korišćen <i>Spring Tool Suite</i>,
            a za razvoj <i>frontend</i> dela aplikacije je korišćen <i>Angular</i>.</p>
    </div>
    
</div>
